$primary-color: #2405f2;
$secondary-color: #282938;
$bg-color: #1c1e53;
$bg2-color: #fcd980;
$bg3-color: #eef4fa;
$paragraph-color: #bbbbcb;
footer {
  background-color: $bg-color;
}
.footer {
  display: flex;
  gap: 160px;
  &-left {
    img {
      margin-bottom: 23px;
    }
    p {
      margin-bottom: 86px;
      color: $paragraph-color;
      font-family: Poppins;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
    }
    &__box {
      width: 517px;
      height: 95px;
      background: $bg2-color;
      margin-bottom: 92px;
      display: flex;
      gap: 29px;
      label {
        display: block;
        margin-bottom: 2px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        padding-top: 18px;
        padding-left: 37px;
        color: $secondary-color;
      }
      input {
        width: 181px;
        height: 28px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-left: 37px;
        border: none;
        background-color: $bg2-color;
        color: $secondary-color;
      }
    }
  }
  &-right {
    h2 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 48px;
      line-height: 64px;
      color: white;
      margin-bottom: 14px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      color: $paragraph-color;
      margin-bottom: 28px;
    }
    &__link {
      display: flex;
      gap: 27px;
    }
  }
}
@media (max-width: 950px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}
@media (max-width: 560px) {
  .footer-left__box {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer-left__box {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
