$primary-color: #2405f2;
$secondary-color: #282938;
$bg-color: #1c1e53;
$bg2-color: #fcd980;
$bg3-color: #eef4fa;
// Global styles
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// BACK TO TOP
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #02897a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
  font-size: 16px;

  &:hover {
    background-color: $primary-color;
  }
}

// HEADER & NAVIGATION
header {
  backdrop-filter: blur(20px);
  background: $bg-color;
  padding-top: 33px;
  padding-bottom: 34px;

  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &-link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #bbbbcb;

    &:hover {
      transition: all 0.5s;
      color: white;
      font-size: 18px;
    }
  }
}

// CONTACT BUTTON
.contact-btn {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: black;
  background: white;
  padding: 10px 22px 9px 25px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;

  &:hover {
    background: $bg-color;
    color: white;
  }
}

// MOBILE MENU
.menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;

  img {
    width: 50px;
  }
}

#nav-open {
  display: none;
  background-color: #1a4d5d;
}

#navbar-responsive {
  backdrop-filter: blur(11px);
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s;
}

#navbar-close {
  position: absolute;
  top: 50px;
  right: 25px;
  background-color: #1a4d5d;
  border: none;
  cursor: pointer;
}

.navbar-link {
  color: white;
  margin-bottom: 20px;
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #02897a;
  padding-top: 5px;
  border-radius: 12px;
}

// MODE TOGGLER
#mode-btn {
  background: #f3f3f3;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

// DARK MODE
.dark {
  background-color: $bg-color;

  * {
    color: yellow !important;
  }
}

// RESPONSIVE
@media (max-width: 830px) {
  .contact-btn {
    display: none;
  }

  .nav-list {
    display: none;
  }

  .menu-btn {
    display: inline-block !important;
  }

  .nav {
    align-items: center;

    &-logo {
      h1 {
        margin-right: 100px;
      }
    }
  }
}

@media (max-width: 900px) {
  .contact-btn {
    display: inline-block;
    margin-bottom: 20px;
  }
}
